@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

@font-face {
    font-family: made-avenue;
    src: url(MADEAvenuePERSONALUSE-Regular.ttf);
 }

 @font-face {
    font-family: albra-regular;
    src: url(Albra-Regular-Italic.ttf);
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #0E3653;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e3653;
    border-bottom: 2px solid #FFF0DB;
}

.logo {
    height: 50px;
    width: 60px;
    padding: 13px;
    margin-left: 20px;
    outline: none;
}

a {
    outline: none;
}

.title {
    font-size: 25px;
    font-family: made-avenue, serif;
    color: #FFF0DB;
    text-decoration: none;
    position: absolute;
    left: 7%;
    outline: none;
  }



.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0E3653;
    margin-right: 50px;
    position: absolute;
    right: .005%;
}

.nav-items a {
    text-decoration: none;
    color: #FFF0DB;
    font-family: Inter, sans-serif;
    font-size: 20px;
}

.committees {
    padding: 28px 40px;
    outline: none;
}

.registration {
    padding: 28px 40px;
    outline: none;
}

.guides {
    padding: 28px 40px;
    outline: none;
}

.secretariat {
    padding: 28px 40px;
    outline: none;
}

.charity {
    padding: 28px 40px;
    outline: none;
}

.contacta {
    padding: auto;
    outline: none;
}

.contact {
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 20px;
    color: #0e3653;
    background-color: #FFC38B; 
    outline: none;
}

.contact:hover {
    cursor: pointer;
}

.fa fa-caret-down {
    color: #FFF0DB
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: #FFF0DB;
    padding: 28px 40px;
    background-color: inherit;
    font-family: Inter;
    margin: 0;
}

.subnavbtn:hover {
    background-color: #114163;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.subnav-content {
    display:none;
    position: absolute;
    left: 0;
    background-color: #114163;
    width: 89.45% ;
    z-index: 3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}


.subnav:hover {
    background-color:#114163
}
  
  /* Style the subnav links */
.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

a.subnav-content:hover ~ btn[class="subnavbtn"] {
    background-color: #114163;
}

.subnav:hover .subnav-content {
    display: block;
  }

a.committees:hover {
    background: #175480;
    border-radius: 20px;
    border-top-left-radius: 0px;
}
 
a.guides:hover {
    background: #175480;
    border-radius: 20px;
}

a.registration:hover {
    background: #175480;
    border-radius: 20px;
}

/* MAIN */

.main {
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
}

.thesecretariat {
    font-size: 2.75rem;
    font-family: made-avenue;
    color: #FFF0DB;
    text-align: center;
    padding-top: -10px;
}

.imgcontainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.secretariatimg {
    width: 540px;
    height: auto;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.carousel-container, .carousel, .img, .testimonial, .testimonial-text, .testimonial-author, .testimonial-job, .btn, .btn--left, .btn--right, .btn-icon {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-container {
    width: 800px;
    height: 265px;
    margin: 100px auto;
    position: relative;
  }


  .carousel {
    width: 800px;
    margin: 100px auto;
    padding: 32px 48px 32px 86px;
    background-color: #FFC38B;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 86px;
  }

  .img {
    height: 250px;
    width: 250px;
    border-radius: 8px;
    transform: scale(1.5);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  }
  
  .testimonial {
    display: grid;
    grid-template-rows: 150px 1fr;
  }

  .testimonial-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.25;
    margin-top: -20px;
    color: #0E3653;
    font-family: Inter;
  }

  .testimonial-author {
    font-size: 20px;
    margin-top: 50px;
    color: #0e3653;
    font-family: made-avenue;
  }

  .testimonial-job {
    font-size: 14px;
    color: #0e3653;
    font-family: albra-regular;
    font-style: italic;
  }

  /* CONTROLS */
.btn {
    background-color: #FFF0DB;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* CENTER ICON */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn--left {
    /* In relation to PARENT ELEMENT */
    left: 0;
    top: 50%;
    /* Inrelation to ELEMENT ITSELF */
    transform: translate(-50%, -50%);
    outline: none;
  }
  
  .btn--right {
    right: 0;
    top: 50%;
    /* Inrelation to ELEMENT ITSELF */
    transform: translate(50%, -50%);
    outline: none;
  }

  .btn-icon {
    height: 24px;
    width: 24px;
    stroke: #0e3653;
  }
  
  .btn:hover,
  .btn:active {
    background-color: #e6fcf5;
  }

  
  @media screen and (max-width: 860px) {
    .carousel-container {
      width: 420px;
      height: 535px;
    }
    .carousel {
      width: 420px;
      height: 535px;
      padding: 32px 48px 32px 48px;
      flex-direction: column;
    }
}

.footer {
  height: 160px;
  width: 100%;
  background-color: #0E3653;
  border-top: 2px solid #FFF0DB;
}

.munlogofooter {
  height: 75px;
  float: left;
  margin-left: 3.5%;
  margin-top: 15px;
}

.munfooter {
  font-family: made-avenue;
  font-size: 1.5rem;
  color: #FFF0DB;
  line-height: 120px;
  margin-left: 9%;
  margin-top: 0px;
}

.credits {
  margin-left: 3.5%;
  font-family: albra-regular;
  color: #FFF0DB;
  margin-top: -40px;
  padding-bottom: 5px;
}

.insta {
  margin-left: 3.5%;
  color: #FFF0DB;
  font-size: 1.2rem;
}

.github {
  margin-left: 1%;
  color: #FFF0DB;
  font-size: 1.2rem;
}

.insta, .github {
  padding-bottom: 40px;
}